body {
    background: rgb(255, 208, 194) url("../media/abstract.jpg");
}

header {
    background: rgb(255, 208, 194);
    border-bottom: 2px solid rgb(156, 71, 46);
}

nav {
    font-size: 30px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 5px 5px;
}

nav li a {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

nav img {
    float: right;
    background-color: transparent;
}

article h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

.parent {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

section h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

section {
    background: rgb(156, 71, 46);
    padding-top: 20px;
}

section img {
    display: flexbox;
    padding: 30px;
    margin-bottom: 10px;
}

a:hover {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    background: transparent;
    border: 1px solid rgb(156, 71, 46);
    color: rgb(156, 71, 46);
}

button {
    font-size: 40px;
    background: rgb(156, 71, 46);
    border: 4px solid black;
}

main {
    text-align: center;
    margin: 70px auto;
    padding: 70px;
    width: 50%;
}

p {
    font-size: 40px;
    margin: 10px;
}

a {
    margin: 20px 10px;
    transition: ease 0.9s all;
}

footer {
    background: rgb(156, 71, 46);
    flex: content;
    text-align: center;
}

.social {
    float: right;
}

details {
    background: rgb(255, 208, 194);
    border-top-color: 2px solid rgb(156, 71, 46);
}
